{% for intf, data in model.items() -%}
!
interface Ethernet{{ intf }}
  description {{ data.annotations.owner }}
  spanning-tree {{ data.stp }}
{% if data.trunk %}
  switchport mode trunk
  switchport trunk allowed vlan {{ data.vlan }}
{% else %}
  switchport mode access
  switchport access vlan {{ data.vlan }}
{% endif %}
{% if data.shutdown %}
  shutdown
{% else %}
  no shutdown
{% endif %}
  exit
{% endfor %}